.crypto-container {
  margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .crypto-card {
    width: 100px;
    padding: 30px;
    margin: 10px;
    border: 1px solid #1f2833;
    border-radius: 5px;
    background-color: #1f2833;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .crypto-card h2 {
    color: #66fcf1;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .crypto-card p {
    color: #c5c6c7;
    font-weight: bold;
    padding-top: 10px;
  }
  